.adaptivequiz-summarylist {
    float: left;
}
.adaptivequiz-summarylist dt {
    font-weight: bold;
}
.adaptivequiz-attemptgraph {
    clear: both;
}

#adpq_scoring_table table {
    float: left;
    margin-right: 20px;
}

#adpq_scoring_table {
    clear: both;
}