.adaptivequiz-summarylist {
    float: left;
}
.adaptivequiz-summarylist dt {
    font-weight: bold;
}
.adaptivequiz-attemptgraph {
    clear: both;
}

#adpq_scoring_table table {
    float: left;
    margin-right: 20px;
}

#adpq_scoring_table {
    clear: both;
}

.adpq_download {
    text-align: center;
    margin: 10px;
}

/* Styles related to the question analysis reporting */
table.adpq_answers_table thead th.section {
    text-align: left;
    padding-top: 30px;
}
table.adpq_answers_table thead:first-child th.section {
    padding-top: inherit;
}
.adpq_correct {
    color: green;
}
.adpq_incorrect {
    color: red;
}
.adpq_highlevel .adpq_incorrect {
    font-weight: bold;
}
.adpq_lowlevel .adpq_correct {
    font-weight: bold;
}
